*{
    box-sizing: border-box;
}

body {
    background-color: $white;
    margin: 0;
    padding: 0;
}

/* a{
    @include links;
}  */

.m_section{

    display: flex;
    padding: $spacer * 2;

    @include breakpoint($medium){
        padding: $spacer * 4;
    }

    @include breakpoint($large){
        padding: $spacer * 7;
    }

    @include breakpoint($xlarge){
        padding: $spacer * 11;
    }

}