.m_section__flash {
    flex-direction: column;


    &-information {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    &-content {
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}
