.container__quote {
   margin: $spacer *2;
   position: relative;

    .block {
        &__quote {
            &-content {

                @include breakpoint($medium){
                    padding: 50px 100px;
                }

                @include breakpoint($large){
                    padding: 50px 200px;
                }

                @include breakpoint($xlarge){
                    padding: 50px 350px;
                }

                .quote {
                    font-family: $fontTitle;
                    text-align: center;
                    margin-bottom: 20px;
                    font-size: 0.9em;
                    line-height: $spacer * 3;

                    @include breakpoint($medium) {
                        margin-bottom: 80px;
                        font-size: 1.2em;
                        line-height: $spacer * 5;
                    }

                    @include breakpoint($large) {
                        font-size: 2em;
                    }

                    @include breakpoint($large) {
                        line-height: $spacer * 7;
                    }

                    &::before {
                        content: '"  ';
                        color: $red;
                        font-size: 2em;
                        font-family: $fontText;

                        @include breakpoint($medium) {
                            font-size: 2.5em;
                        }
                    }

                    &::after {
                        content: '  "';
                        color: $red;
                        font-size: 2em;
                        font-family: $fontText;

                        @include breakpoint($medium) {
                            font-size: 2.5em;
                        }
                    }
                }

                .author {
                    align-self: flex-start;
                    text-transform: capitalize;
                    font-size: 0.9em;
                    margin-left: $spacer *2;
                    width: fit-content;

                    @include breakpoint($medium) {
                        font-size: 1em;
                    }
                }
            }

            /* &-background {
                position: absolute;
                top: 0;
                margin: -20px;
                z-index: -1;

                @include breakpoint($medium) {
                    display: flex;
                    align-self: center;
                }

                img {
                    object-fit: contain;
                    width: 100%;
                    opacity: 0.25;
                }
            } */
        }
    }
}
