.wp-block-colums {
    display: flex;
    flex-direction: column;

    @include breakpoint ($medium){
        flex-direction: row;

    }
}

.wp-block-column {
    flex: 2;
}

.wp-container-1 .wp-block-colums{
    display: none;
}