.article-body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: $spacer * 2;

    .background-slider {
        background-color: $black;
        padding: $spacer;
    }

    .container-block {
        @extend .article-body;
        margin: auto;
        width: 100%;
        height: 200px;
        max-height: 200px;
        border: 1px solid $black;
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;

        @include breakpoint($medium) {
            height: 500px;
            max-height: 500px;
            justify-content: center;
        }

        @include breakpoint($large) {
            height: 565px;
            max-height: 565px;
        }
    }
}

/* container of my flash-info */

.container-block-content {
    justify-content: center;
    align-items: center;
    margin: auto;


    .simple-div{
        @include breakpoint($medium) {
        width: 50%;
        }
    }

    @include breakpoint($large) {
    }

    & + div{
        margin-top: $spacer*2;

      /*   h3{
            margin-top: $spacer*2;
        } */
    }

    h3, p {
        text-align: center;
        margin: 0;

        @include breakpoint($medium){
            margin: 30px;
        }
    }

    p{
        @include breakpoint($medium){
            font-size: 1.1em;
        }
    }

    h3{
        &::before, &::after {
            content: " - ";
            font-size: 1.5em;
            color: $red;
            font-family: $fontText;
        }
    }
   
}

/* ce qu'il y a en dessous devra peut-être être supprimé */

/* .article-content {
    display: flex;
    flex-direction: column;

    @include breakpoint($medium) {
    }

    .wp-block-columns {
      
        display: flex;
        flex-direction: column;
        grid-gap: $spacer;

        .wp-block-column {
            flex: 2;
         
            width: 100%;

            @include breakpoint($medium) {
                padding-right: $spacer * 4;
                padding-left: $spacer * 4;
            }

          
            .block__1 {
                @include breakpoint($medium) {
                    display: flex;
                }

                &__content {
                    @include breakpoint($medium) {
                        width: 50%;
                    }
                }

                &__thumbnail {
                    @include breakpoint($medium) {
                        width: 50%;
                    }
                }
            }

            .block__2,
            .block__3,
            .block__4 {
                @include breakpoint($large) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                &__content {
                    @include breakpoint($large) {
                        width: 80%;
                    }
                }
            }

            .wp-block-buttons {
                display: flex;
                justify-content: center;
            }

            h3 {
                display: flex;
                justify-content: center;
                text-align: center;

                @include breakpoint($medium) {
                    font-size: 1.5em;
                }

                &::before,
                &::after {
                    content: "-";
                    color: $red;
                    font-family: $fontText;
                    font-size: 1.2em;

                    @include breakpoint($medium) {
                        font-size: 1.6em;
                    }
                }
            }

            p {
                text-align: center;
            }
        }
    }

    .wp-container-1 {
        .wp-block-column {
            @include breakpoint($medium) {
                padding-right: 0px;
                padding-left: 0px;
            }
        }
    }
}
 */
