.is-style-personnalised-separator {
    height: 25px;
    background-color: $black;

    &::before {
        content: "\00b7 \00b7 \00b7";
        color: currentColor;
        font-size: 1.5em;
        letter-spacing: 2em;
        /*rtl:ignore*/
        padding-left: 2em;
        font-family: serif;
    }
}
