// ----
// Grids
// ----

@mixin grid (){
    display: grid;
    grid-template-columns: 100fr repeat(12, 16fr ) 100fr; /* out of 28 grids in total */
    grid-gap: 18px;
    
}


// ----
// headings
// ----

@mixin hn(){
    font-family: $fontTitle;
 /*    font-weight: 600; */
    font-style: normal;
}

@mixin h1(){
    @include hn();
    line-height: $spacer * 3;
    font-size: 1.2rem;

    @include breakpoint($medium){
        font-size: 1.8rem;
    }
    @include breakpoint($large){
        font-size: 2rem;
    }
}

@mixin h2(){
    @include hn();
    font-size: 1rem;
    line-height: $spacer * 3;

    @include breakpoint($medium){
        font-size: 1.5rem;
    }
    @include breakpoint($large){
        font-size: 1.8rem;
    }
}

@mixin h3(){
    @include hn();
    font-size: 1rem;
    line-height: $spacer * 2;

    @include breakpoint($medium){
        font-size: 1.4rem;
    }
    @include breakpoint($large){
        font-size: 1.7rem;
    }
}

// ----
// transitions
// ----

@mixin transition{
    transition: all 0.3s ease-in-out;
}


// ----
// List and Link
// ----

@mixin unstyle-list($margin: true, $pad: true) {
    @if $margin != false {
        margin: 0;
    }
    @if $pad != false {
        padding: 0;
    }
    list-style-type: none;
}

/* @mixin facebook {
    content: "\f09a";
}

@mixin youtube {
    content: "\f167";
}
 */

@mixin links {
    @include transition();
    color: $black;
    text-decoration: none;

    &:link {
        color: $black;
    }

    /* visited link */
    &:visited {
        color: $black;
    }

    /* mouse over link */
    &:hover {
        color: $red;
    }

    /* selected link */
    &:active {
        color: $grey;
    }

     /* selected link */
     &:focus {
        color: $grey;
    }
}
