




// ----
// List
// ----



@mixin unstyle-list($margin:true, $pad:true) {
    @if $margin != false {
        margin: 0;
    }
    @if $pad != false {
        padding: 0;
    }
    list-style-type: none;
}

/* 
 @mixin unstyle-list {
     list-style: none;
 }
 */