
// ----
// ---- Colors
// ----

$red : #C62A40;
$black: #1A1718;
$white: #f1f5f8;
$grey: #856f76;

$transparent-black: rgba(26,23,24,65%);
$transparent-red: rgba(198,42,64,70%);

:root{
    --color-text: $black
}


// ----
// ---- Fonts
// ----

@font-face {
   src: url('http://fonts.cdnfonts.com/css/prisma');
   font-family: 'Prisma', sans-serif;
}

$fontTitle: 'Prisma';

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
    font-family:'ABeeZee', sans-serif;;
}

$fontText:"ABeeZee";