{% block quote %}
	<section class="article-content">
		<div class="article-body">
			<img src="{{ post.post_thumbnail.src}}">
			{{post.post_content}}
			je suis bien la quote
		</div>
	</section>

</div>{% endblock %}
